@use './colors' as c;
@mixin titles($size,$color) {
    font-size: $size;
    color: $color;
} 

@mixin box-text($size,$color) {
    padding: .625em;
    font-size: $size;
    color: $color;
} 
@mixin card($bgimg,$bkbgcolor) {
    background: $bgimg;
    width: 18.75em;
    height: 25em;
    position: relative;
 box-shadow: 13px 12px 32px -12px rgba(51,53,51,0.47);
-webkit-box-shadow: 13px 12px 32px -12px rgba(51,53,51,0.47);
-moz-box-shadow: 13px 12px 32px -12px rgba(51,53,51,0.47);
transition: .4s ease all;  
&:hover{
        transform: scale(1.1);
    }
.card-back{
            padding: .625em;
            width: 105%;
            height: 25%;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: .3125em;
            right: 0;
            color: c.$white;
            background-color: $bkbgcolor;
} 
    @media (max-width:406px) {
        width: 90%;
        height: 21.875em;
        .card-back{
            height: 30%;
            padding: .625em;
        }
    }
   
    
}
    
@mixin button($bgcolor,$color,$size) {
    background-color: $bgcolor;
    padding: .3125em;
    display: flex;
    align-content: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: .75em;
    &:hover{
        opacity: .8;
    }
    &:active{
        transform: scale(1.1);
    }
    a{
        text-decoration: none;
        color: $color;
        font-size: $size;
    }
}